<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <style>
        table {
            border-clllapse: collapse;
        }
        table, th, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<p>Hey <span th:text="${user.username}">,</span></p>
<br/>
<p>We're happy to let you know that your order has been received! You will get a call or email from us soon.</p>
<p>Thank you for shopping from our book store. We hope you had a good time with our service!</p>
<br>
<p>Please do not hesitate to get in contact if you have any question or changes in your order. Contact us at: 08107910212</span></p>
<hr/>


<br/>
<p>Many thanks, </p>
<p>Deenbreed's Bookstore</p>
</body>
</html>